@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');

:root {
    --header-bg-color: #333;
    --bg-color: #359bf8;
    /* --accent-color: #9BF835;
    --tertiary-color: #F8359B; */
    --accent-color: #F8359B;
    --tertiary-color:  #9BF835;
    --text-light-color: #fff;
    --text-dark-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tauri", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

header {
    background-color: var(--header-bg-color);
    color: var(--text-light-color);
    padding: 10px;
    text-align: center;
    height: 60px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    background-color: var(--bg-color);
}

aside {
    height: calc(100vh - 60px);
    width: 300px;
    background-color: var(--text-light-color);
    position: absolute;
    left: 0;
    border: solid 1px var(--header-bg-color);
}

aside ul {
    list-style: none;
    padding: 0;
    height: calc(100% - 100px);
}

aside ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

aside ul li:hover {
    background-color: var(--tertiary-color);
}

aside ul li.active {
    background-color: var(--accent-color);
    color: var(--text-light-color);
}

aside ul li button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

aside ul li button:hover {
    color: var(--tertiary-color);
}

#newDiscution {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent-color);
    cursor: pointer;
    margin-top: 20px;
}

.error {
    border: red 2px solid;
    box-shadow: 0 0 10px red;
}

.prompt {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.prompt div {
    background-color: var(--text-light-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.prompt input {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    margin: 10px 0;
}

.prompt button {
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.show {
    display: flex;
}

aside div {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    position: relative;
}

aside img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 20px;
    margin-bottom: 30px;
}

aside img:hover {
    cursor: pointer;
}


.menu {
    display: none;
    position: absolute;
    bottom: 80px;
    right: 15px;
    background-color: var(--accent-color);
    color: var(--text-light-color);
}

aside img:hover + .menu {
    display: block;
} 

.menu:hover {
    display: block;
}

.menu p {
    padding: 15px;
    cursor: pointer;
}

.menu p:hover {
    background-color: var(--tertiary-color);
}

.menu p a {
    color: var(--text-light-color);
    text-decoration: none;
}

#chat-box {
    font-size: 1.2rem;
    background-color: var(--text-light-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); 
    width: 50%;
    z-index: 5;
    border: 5px solid black;
}

#chat-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
    height: 60vh;
}

#chat-container .assistant {
    text-align: left;
    margin-right: 50%;
    color: var(--accent-color);
}

#chat-container .user {
    text-align: right;
    margin-left: 50%;
    color: var(--text-dark-color);
}

#chat-control {
    display: flex;
    justify-content: space-between;
}

#chat-control input {
    width: 90%;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 0 0 0 5px;
}

#chat-control button {
    padding: 10px;
    font-size: 1.2rem;
    width: 10%;
    cursor: pointer;
    border-radius: 0 0 5px 0;
}

.chat-format {
    padding: 10px;
    line-height: 1.6;
}

.chat-format ul {
    margin-left: 20px;
    list-style-type: disc; /* Adds bullet points to list items */
}

.chat-format li {
    margin-top: 20px;

}

.chat-format p {
    text-indent: 20px; /* First line indent for paragraphs */
    margin-top: 20px;
}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: var(--tertiary-color);
}

.loader .line:nth-last-child(1) {
    animation: loadingC 0.7s 0.1s linear infinite;
}
.loader .line:nth-last-child(2) {
animation: loadingC 0.7s 0.2s linear infinite;
}
.loader .line:nth-last-child(3) {
animation: loadingC 0.7s 0.3s linear infinite;
}


@keyframes loadingC {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, 0);
    }
}

